<nav class="navbar navbar-expand-sm navbar-default navbar-light bg-light">
    <div class="container-fluid">
        <div class="navbar-header">
            <a href="#" class="navbar-brand">Recipe Book</a>
        </div>
        <div class="collapse navbar-collapse">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active"><a class="nav-link" href="#">Recipes</a></li>
                <li class="nav-item active"><a class="nav-link" href="#">Shopping List</a></li>
            </ul>
            <ul class="navbar-nav dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button">Manage</a>
                <li class="dropdown-menu" aria-labelledby="dropdownId">
                    <a class="dropdown-item" href="#">Save Data</a>
                    <a class="dropdown-item" href="#">Fetch Data</a>
                </li>
            </ul>
        </div>
    </div>
</nav>