<nav class="navbar navbar-expand header-bar">
    <div>
        <button class="icon-btn" (click)="openDialog()"><a><span class="fas fa-plus"></span></a></button>
        <button class="icon-btn"><a><span class="fas fa-repeat"></span></a></button>

        <a class="no-hover"><span class="opacity-50">|</span></a>

        <button class="icon-btn disabled"><a><span class="fas fa-save"></span></a></button>
        <button class="icon-btn disabled"><a><span class="fas fa-list"></span></a></button>

        <a class="no-hover"><span class="opacity-50">|</span></a>

        <button class="icon-btn disabled"><a><span class="fas fa-code"></span></a></button>
        <button class="icon-btn disabled"><a><span class="fas fa-laptop-code"></span></a></button>
        <button class="icon-btn disabled"><a><span class="fas fa-minus-circle"></span></a></button>

        <a class="no-hover"><span class="opacity-50">|</span></a>

        <button class="icon-btn disabled"><a><span class="fas fa-play"></span></a></button>
        <button class="icon-btn disabled"><a><span class="fas fa-redo-alt"></span></a></button>
        <button class="icon-btn disabled"><a><span class="fas fa-stop-circle"></span></a></button>
        <button class="icon-btn disabled"><a><span class="fas fa-stop"></span></a></button>
        <button class="icon-btn disabled"><a><span class="fas fa-yin-yang"></span></a></button>
    </div>
</nav>